*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header h1,section h3,form button{
        font-family: "Bungee", sans-serif;
        font-weight: none;
    }

body,input,textarea{
    font-family: "Roboto", sans-serif;
    background-color: rgb(247, 160, 160);
}

header{
    padding: 16px;
    background-color: rgb(18, 18, 19);
    color: antiquewhite;
}
header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: antiquewhite;
    text-decoration: none;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands-list img {
    height: 24px;
}

.brands-list li{
    display: inline;
    margin-right: 8px;
}

section .container{
    align-items: flex-start;
}
section{
    padding: 24px 0;
}

section h2{
    margin-bottom: 16px;
}

section{
    color: rgb(12, 12, 12);
}

section p {
    margin-bottom: 8px;
}

.store-front{
    margin-right: 32px;
}

.social-link img {
    height: 24px;
}

.social-link li{
    display: inline;
    margin-right: 8px;
}

.social-link li a{
    text-decoration: none;
}

#contact .container{
    display: block;
}

.cotact-methotds{
    display: flex;
    justify-content: space-between;
    
    
}

form input,form textarea,form button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;

}

form textarea{
    resize: none;
    height: 180px;
}

section h3{
    margin-bottom: 16px;
}

form button{
    background-color:rgb(17, 17, 17) ;
    color: #fff;
    border: none;
    cursor: pointer;
    
}

form button :hover{
    background-color: rgb(198, 198, 245);
}

footer{
    background-color: rgb(15, 15, 15);
    color: #fff;
    padding: 16px 0;
}